*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Nunito sans, sans-serif;
    background-color: lightgrey;
}

a{
    text-decoration: none;
}


/*--------- HEADER ---------*/

header{
    position: relative;
    z-index: 10;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #EEE7CD;
    align-content: center;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4);
}

.top-header{
    width: 1300px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin: 0px auto;
}

.top-coordinates{
    list-style-type: none;
    height: 50px;
    display: flex;
    justify-content: center;
    color: #1C544E;
    margin-top: 20px;
}

.top-coordinates span{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 10px;
}

.top-coordinates span img{
    margin: 0px 5px;
}

.top-coordinates a{
    color: #1C544E;
}

.top-coordinates a{
    color: #1C544E;
}

.icon{
    height: 20px;
}

.activity-title{
    color: #547E2A;
    font-weight: 700;
    font-size: 30px;
    line-height: 0px;
}

.main-header{
    width: 1300px;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 0px auto;
}

.logo-box{
    display: flex;
    margin: 20px 20px;
}

.logo-img{
    height: 100px;
}

.social-name-1{
    font-size: 60px;
    font-weight: bold;
    color: #1C544E;
}

.social-name-2{
    font-size: 70px;
    font-weight: bold;
    color: #547E2A;
}

nav {
    height: 70px;
    width: 100%;
}
.logo-menu {
    top: 10px;
    right: 15px;
    width: 50px;
    z-index: 250;
    display: none;
}

.liste-nav {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.item-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-nav a {
    font-size: 20px;
    color: #1C544E;
    text-decoration: none;
    margin: 0 10px;
}

.item-nav a::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background: #1C544E;
    transition: all 0.2s ease-in-out;
}
.item-nav a:hover::after {
    width: 100%;
}

/*--------- MAIN IMAGE ---------*/

@keyframes slideTopToBottom {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.main-image-box{
    height: calc(100vh - 200px);
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url(resources/dan-gold-4HG3Ca3EzWw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: 1s ease-in-out 0s 1 slideTopToBottom;
}

.main-image-box h2{
    font-size: 30px;
    color: white;
    animation: 1.5s ease-in-out 0s 1 fadein;
}

.main-image-box h1{
    font-size: 50px;
    color: white;
    margin: 10px 0px 40px 0px;
    animation: 1.5s ease-in-out 0.2s 1 fadein;
}

.main-image-box h3{
    font-size: 20px;
    color: white;
    animation: 1.5s ease-in-out 0.4s 1 fadein;
}

.main-image-btn-layer{
    display: flex;
    justify-content: center;
    margin: 60px 0px 20px 0px;
}

.btn-box{
    border: solid 3px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    padding: 20px 20px;
    margin: 20px 20px;
    transition: 0s ease 0s
}

#btn-services{
    border-color: white;
}

#btn-services:hover{
    border-color: #493F18;
    background-color: #493F18;
}

#btn-realizations{
    border-color: #493F18;
    background-color: #493F18;
}

#btn-realizations:hover{
    border-color: #493F18;
    background-color: transparent;
}

#btn-realizations:hover a{
    color: #493F18;
}

.btn-box a{
    text-decoration: none;
    color: white;
}


/*--------- INTRODUCING ---------*/

.company-presentation{
    height: auto;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two-column{
    width: 1200px;
    display: flex;
    margin: 20px 0px;
}

.text-content{
    padding: 0px 20px;
    text-align: justify;
}

.text-content h2{
    margin: 10px 0px;
    padding-bottom: 18px;
    font-size: xx-large;
}

.text-content p{
    margin-bottom: 16px;
}

.contact-card{
    margin-left: 20px;
    border: solid ;
    background-color: rgb(255, 216, 13);
}

.selfie-box{
    height: 400px;
    width: 300px;
    background-image: url(resources/selfie.jpg);
    background-position: center;
    background-size: cover;
}

/*--------- SERVICES ---------*/

.paralax{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.2)), url(resources/kara-eads-L7EwHkq1B2s-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.paralax-content-box{
    display: flex;
    align-items: center;
    width: 1300px;
    margin: auto;
    height: 100%;
    justify-content: space-evenly;
}

.paralax-text-content{
    width: 500px;
    color: #f1f1f1;
}

.paralax-text-content h2{
    font-size: 35px;
    line-height: 1.0em;
}

.paralax-text-content h2{
    position: relative;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin: 20px 0px;
}

.paralax-text-content h2::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 80px;
    content: '';
    margin: 0 auto;
    height: 3px;
    background: rgb(255, 216, 13);
}

.paralax .btn-box{
    border-color: rgb(255, 216, 13);
    background-color: rgb(255, 216, 13);
}

.paralax .btn-box:hover{
    background-color: transparent;
}

.services-summury{
    background-color: #F1F1F1;
}


.services-summury-box{
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;

}

.services-summury-box h2{
    position: relative;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin: 20px 0px;
}

.services-summury-box h2::after {
    position: absolute;
    left: calc(50% - 40px);
    bottom: 0px;
    width: 80px;
    content: '';
    margin: 0 auto;
    height: 3px;
    background: #C3CF6E
}

.service-grid{
    display: grid;
    width: 1000px;
    margin: 40px auto;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 250px);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    justify-content: center;
}

.service-grid-item{
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 225, 225);
    transition: 0s ease 0s;
}

.service-grid-item:hover{
    background-color: #C3CF6E;
    color: white;
}



.service-img-box{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C3CF6E;
}


.service-img-box img{
    width: 200px;
    height: 133px;
}

.item-title-box{
    display: flex;
    justify-content: space-around;
    margin: auto 0px;
}

.arrow-box{
    width: 30px;
    height: 30px;
    border: solid black;
    border-radius: 100%;
    text-align: center;
}

.service-grid-item:hover .arrow-box{
    background-color: #C3CF6E;
    border-color: white;
}

.services-summury-box .btn-box{
    width: auto;
    background-color: #C3CF6E;
    border-color: #C3CF6E;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0s ease 0s;
}

.services-summury-box .btn-box:hover{
    background-color: transparent;
}

.services-summury-box .btn-box:hover a{
    color: #C3CF6E;
}

/*--------- FOOTER ---------*/
footer{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EEE7CD;
}

.footer-widget{
    padding: 0 15px;
    margin-bottom: 30px;
    width: 500px;
}

footer h2{
    position: relative;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin: 20px 0px;
}

footer h2::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 80px;
    content: '';
    margin: 0 auto;
    height: 3px;
    background: #493F18;
}

.footer-top{
    background: #547E2A;
    width: 100%;
    color: #EEE7CD;
    display: flex;
    justify-content: center;
}


.footer-top a{
    color: #EEE7CD;
}

.footer-bottom{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 0px 50px;
}

.bottom-coordinates{
    list-style-type: none;
}

.bottom-services{
    list-style-type: none;
}
.copyright-text{
    font-size: 15px;
}

.google-badge{
    border-color: lightskyblue;
    border-top-width: 5px;
    background: #EEE7CD;
    border-radius: 4px;
    width: 250px;
    height: 64px;
    margin-top: 40px;

}

.google-badge-btn{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 10px 10px;
}

.google-badge-score{
    color: #493F18;
}

.google-rating{
    color: #e7711b !important;
    font-size: 20px !important;
    margin: 0 6px 0 0 !important;
}
