/*--------- MAIN IMAGE ---------*/

@keyframes slideTopToBottom {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

.main-image-box{
    height: calc(100vh - 200px);
    width: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url(../resources/dan-gold-4HG3Ca3EzWw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: 1s ease-in-out 0s 1 slideTopToBottom;
}

.main-image-box h2{
    font-size: 30px;
    color: white;
    animation: 1.5s ease-in-out 0s 1 fadein;
}

.main-image-box h1{
    font-size: 50px;
    color: white;
    margin: 10px 0px 40px 0px;
    animation: 1.5s ease-in-out 0.2s 1 fadein;
}

.main-image-box h3{
    font-size: 20px;
    color: white;
    animation: 1.5s ease-in-out 0.4s 1 fadein;
}

.main-image-btn-layer{
    display: flex;
    justify-content: center;
    margin: 60px 0px 20px 0px;
}

.btn-box{
    border: solid 3px;
    cursor: pointer;
    width: 200px;
    text-align: center;
    padding: 20px 20px;
    margin: 20px 20px;
    transition: 0s ease 0s
}

#btn-services{
    border-color: white;
}

#btn-services:hover{
    border-color: #493F18;
    background-color: #493F18;
}

#btn-realizations{
    border-color: #493F18;
    background-color: #493F18;
}

#btn-realizations:hover{
    border-color: #493F18;
    background-color: transparent;
}

.btn-box {
    text-decoration: none;
    color: #F1F1F1;
}


/*--------- INTRODUCING ---------*/

.company-presentation{
    height: auto;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two-column{
    width: 1300px;
    display: flex;
    margin: 20px 0px;
    align-items: center;
    padding: 0px 50px;
}

.text-content{
    padding: 0px 20px;
    text-align: justify;
}

.text-content h2{
    position: relative;
    margin: 20px 0px;
    padding-bottom: 10px;
    font-size: xx-large;
}

.text-content h2::after{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 120px;
    content: '';
    margin: 0 auto;
    height: 3px;
    background: rgb(84, 112, 82);
}

.text-content p{
    margin-bottom: 16px;
    font-size: 22px;
}

.portrait-card{
    margin-left: 20px;
    border: solid ;
    background-color: rgb(84,112,82);
    height: auto;
    color: #F1F1F1;
}

.portrait-card h3{
    text-align: center;
    margin: 5px 10px;
}

.portrait-box{
    height: 400px;
    width: 300px;
    background-image: url(../resources/selfie.jpg);
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 1300px) {

    .two-column{
        width: 100%;
    }
}

/*--------- SERVICES ---------*/

.paralax{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.2)), url(../resources/kara-eads-L7EwHkq1B2s-unsplash.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.paralax-content-box{
    display: flex;
    align-items: center;
    width: 1300px;
    margin: auto;
    height: 100%;
    justify-content: space-evenly;
}

.paralax-text-content{
    width: 500px;
    color: #f1f1f1;
}

.paralax-text-content h2{
    position: relative;
    font-size: 35px;
    line-height: 1.0em;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin: 20px 0px;
}

.paralax-text-content h2::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 80px;
    content: '';
    margin: 0 auto;
    height: 3px;
    background: rgb(84,112,82);
}

.paralax .btn-box{
    border-color: rgb(84,112,82);
    background-color: rgb(84,112,82);
}

.paralax .btn-box:hover{
    background-color: transparent;
    border-color: #f1f1f1;
}

.services-summury{
    background-color: #F1F1F1;
}


.services-summury-box{
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;

}

.services-summury-box h2{
    position: relative;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin: 20px 0px;
}

.services-summury-box h2::after {
    position: absolute;
    left: calc(50% - 40px);
    bottom: 0px;
    width: 80px;
    content: '';
    margin: 0 auto;
    height: 3px;
    background: rgb(137,155,137)
}

.service-grid{
    display: grid;
    width: 1000px;
    margin: 40px auto;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 250px);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    justify-content: center;
}

.service-grid-item{
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 225, 225);
    color: black;
    transition: 0s ease 0s;
}

.service-grid-item:hover{
    background-color: rgb(137,155,137);
    color: white;
}



.service-img-box{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(137,155,137);
}


.service-img-box img{
    width: 200px;
    height: 133px;
}

.item-title-box{
    display: flex;
    justify-content: space-around;
    margin: auto 0px;
}

.arrow-box{
    width: 30px;
    height: 30px;
    border: solid black;
    border-radius: 100%;
    text-align: center;
}

.service-grid-item:hover .arrow-box{
    background-color: rgb(137,155,137);
    border-color: white;
}

.services-summury-box .btn-box{
    width: auto;
    background-color: rgb(137,155,137);
    border-color: rgb(137,155,137);
    padding-left: 30px;
    padding-right: 30px;
    transition: 0s ease 0s;
}

.services-summury-box .btn-box:hover{
    background-color: transparent;
    color: rgb(137,155,137);
}

.services-summury-box .btn-box:hover a{
    color: rgb(137,155,137);
}

@media screen and (max-width: 1300px) {

    .paralax-content-box{
        width: 100%;
    }
}